@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aften Screen";
  src: url("/aften_screen.woff") format("woff");
  font-weight: 400;
  font-variant: normal;
}

* {
  box-sizing: border-box;
}

html {
  background: #000;
  color: #fff;
  font-family: "Aften Screen", system, -apple-system, \.SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

a {
  color: #fff;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 2px 10px;
  outline: none;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s;
  margin: 5px;
}

.btn:hover,
.btn:active {
    color: #000;
    background: #fff;
    border-color: #fff;
}


html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* overflow: hidden; */
}

article {
  /* padding: 3vw 5vw 0; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header svg {
  fill: white;
  height: 20px;
}

section {
  /* margin: 14vw 0 14vw; */
  margin: 0;
}
h1 {
  font-size: 5vw;
  font-weight: 400;
}
p,
section.text {
  max-width: 400px;
  font-size: 16px;
}

.ScrollScene,
.ViewportScrollScene {
  /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -999;
}

.ScrollScene:after,
.ViewportScrollScene:after {
  /* content: 'ScrollScene'; */
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

html {
  background: #000;
  color: #f2f2f2;
  font-family: "Aften Screen", system, -apple-system, \.SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

a {
  color: #f2f2f2;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

article {
  /* padding: 3vw 0vw 0; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
header svg {
  fill: white;
  height: 20px;
}

h1 {
  font-size: 5vw;
  font-weight: 400;
}
p,
section.text {
  max-width: 400px;
  font-size: 16px;
}

.WebGLImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* outline: 2px dashed turquoise; */

  aspect-ratio: 16/10;
  /* margin: 10vw; */
  width: 80vw;
}

.Marquee {
  white-space: nowrap;
  padding: 0vw 0;
  overflow: hidden;
}
.Marquee > div {
  will-change: transform;
}
.Marquee h1 {
  margin: 0;
  line-height: 1;
  font-size: 10vw;
}

.VerticalParallax {
  background: #000;
  /* background: #222; */
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 62%, rgba(0,0,0,1) 99%); */
  height: 75vh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25vw;
  z-index: -999;
}

.VerticalParallaxMotion {
  position: absolute;
  min-height: 100%;
  right: 0;
}

.VerticalParallax h2 {
  display: block;
  font-size: 10vw;
  /* color: deeppink; */
  white-space: nowrap;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  margin: 0;
}

.TitleArea {
  /* position: absolute;
  min-height: 100%;
  right: 0;
  height: 100vh;
  margin: 0; */
}

.Image {
  width: 100vw;
  height: 100vh;
  /* background: turquoise; */
}

/* Debug styles */
.Debug {
  /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
  position: relative;
}
.Debug:after {
  /* content: 'useTracker()'; */
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  /* padding: 5px; */
}

/* .ViewportScrollScene:after {
    content: 'ViewportScrollScene';
  } */

.fade-in {
  transition: opacity 2s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}

#TitleText {
  margin: 0;
  position: absolute;
  top: 67vh;
  left: 50%;
}

#TitleContainer {
  position: relative;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #fff;
}

.word-fade {
  height: 1.2em;
}

.word {
  position: absolute;
  text-align: center;
  width: 100vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.Placeholder {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width: 100%; */
  /* aspect-ratio: 16/10; */
}

#someRandomID {
  width: 100%;
  height: 100%;
  /* right: 100px; */
  /* transform: translate(5%, -25%);; */
}

#ProfilePicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ScrollScene,
.ViewportScrollScene {
  /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
  position: relative;
}
.ScrollScene:after,
.ViewportScrollScene:after {
  /* content: "ScrollScene"; */
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  /* content: "ViewportScrollScene"; */
}

#BioContainer {
  /* width: 100vw; */
  /* height: 100%; */
  display: flex;
  margin: 5vw 5vw 5vw 5vw;
  /* right: 100px; */
  /* transform: translate(5%, -25%);; */
}

#Bio {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
  flex: 1;
  /* position: absolute; */
  /* padding: 0 5vw; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* top: 0; */
  /* left: 0; */
  /* height: 100%; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* z-index: 100; */
  text-align: justify;
  /* flex: 0 0 17.5em; */

  /* width: 50vw; */
}

#SphereGeometry {
  /* position: absolute; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 16/10; 
  width: 100%;
  height: 100;
  position: absolute; */
  /* position: relative; */
  width: 50%;
  flex: 1;
}

@media (max-width: 768px) {
  .SphereGeometry {
    /* z-index: -1; */
    /* position: absolute; */
  }
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #723bd9, #edffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
